# Frontend

# Next.js
.next/
out/

# PWA
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend & Backend
# dependencies
node_modules/

# local env files
.env